.mapboxgl-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    flex:1 0 0;
    border-radius: 0.5rem;
    /*outline: none;*/
}

.mapboxgl-canvas-container {
    width: 100% !important;
    height: 100% !important;
}

.mapboxgl-canvas {
    outline: none;
    position: absolute !important;
    left: 0;
    top: 0;
    /*width: 100% !important;*/
    /*height: 100% !important;*/
}
.mapboxgl-ctrl-bottom-right , .mapboxgl-ctrl-bottom-left{
    /*display: none;*/
    display: block;
}